{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}

    <head>
        {%- block head %}
        <title>{% block title %}{{title|default}}{% endblock title %}</title>
        {%- endblock head %}
    </head>

    <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
        {% block navbar %}
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}

        {%- endblock body %}
        </body>
        {%- endblock html %}

        </html>
        {% endblock doc -%}