<!DOCTYPE html>
<html>

<head>
    <style>
        #footer {
            margin-top: 80px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #c2bfbc;
            color: black;
            text-align: center;
            font-family: "Fjalla One", Verdana, Geneva, sans-serif;
            font-size: 0.95em;
            padding: 1.2em 0;
        }
    </style>
</head>

<body>
    <div id="footer">
        <p>#COPYRIGHT#&COPY;Design by JAck Zhang</p>
    </div>
</body>

</html>